@using CM.Customers;
@using PagedList;
@using PagedList.Mvc;

@model PagedList.PagedList<Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Email
        </th>
        <th>
            Notes
        </th>
        <th>
            Total Purchases Amount
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPurchaseAmount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { customerId = item.customerID }) |
                @Html.ActionLink("Details", "Details", new { customerId = item.customerID }) |
                @Html.ActionLink("Delete", "Delete", new { customerId = item.customerID })
            </td>
        </tr>
    }

</table>
<br />
@*Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber)/@(Model.PageCount)*@
<div>
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { page = Page }))
</div>